*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color:#fff;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
#header{
    background-color: #262626;        
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
.nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
.nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
.nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#ff004f;
}
/* header end */
/* about start */
[data-tab-content]{
    display: none;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.active[data-tab-content]{
    display: block;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 h1{
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom:-6px;
    transform: 0.5s;

}
.tab-links.active::after{
    width: 50%;
}
.tab-content li {
    list-style: none;
    margin: 10px 0;
}
.tab-content li span{
    color: #b54769;
    font-size: 14px;
}
/* .tab-content{
    display: none;
}
.tab-content.active-tag{
    display:block
} */
/* end about */
/* skile start */ 
.box-container{
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
}
.skills .box-container .box {
    padding: 2rem;
    text-align: center;
    -webkit-box-shadow: 0.5 rgba(0, 0, 0, 0.7);
    box-shadow: 0.5 rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    background: #1a1a1a;
}
.skills .box-container .box img {
    height: 7rem;
    margin-bottom: 1rem;
}
.skills .box-container .box h3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: normal;
}
/* skile end */ 
/* start services */
.sub-title{
    font-size: 40px;
    font-weight: 600px;
}
.services{
    padding: 30px 0;
}
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 14px;
    font-family: 300px;
    border-radius: 10px;
    transition: brackgroun 0.5s, tranfrom 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 14px;
    font-weight: 300px;
    margin-bottom: 12px;
}
.services-list div a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    margin-top: 15px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}
/* end services */
/* portfolio stat */
.portfolil{
    padding: 50px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    transition: height 0.5s
}
.layer h3{
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 12px;
}
.layer p{
    font-size: 15px;
    font-weight: 300;
}
.layer i{
    font-size: 25px;
    font-weight: 300;
    margin-top: 12px;
    color:#ff004f;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    background: #262626;
    transition: background 0.5s;
    cursor:pointer;
    
}
.btn:hover{
    background: #ff004f;
}
/* portfolio end */
/* contact start */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color:#ff004f;
    margin-right: 15px;
    font-family: 14px;
}
.socail-icon a i{
    text-decoration: none;
    color: #ababab;
    font-size: 28px;
    margin-right: 10px;
    margin-top: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.socail-icon a i:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    margin-left: 0;
}
.contact-right {
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 12px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
.nav .fa-solid{
    display: none;
}

/* contact end */
@media only screen and (max-width: 600px){
    #header{
        background-image: url(../images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size:30px;
    }
    .nav .nicon{
        display: block;
        font-size:25px;
    }
    .nav ul{
        background: #ff004f;
        position: fixed;
        top :0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top:50px;
        z-index: 2;
        transition: right 0.5s
    }
    .nav ul li{
        display:block;
        margin:25px;
    }
       .nav ul .nicon{
        position: absolute;
        top:25px;
        left:25px;
        cursor:pointer;
       }
       .sub-title{
        font-size: 40px;
        
       }
       .about-col-1, .about-col-2{
        flex-basis: 100%;
       }
       .about-col-1{
        margin-bottom: 30px;
       }
       .about-col-2{
        font-size: 14px;
       }
       .tab-links{
        font-size: 16px;
        margin-right: 20px;
       }
       .contact-left, .contact-right{
        flex-basis: 100%;
       }
}